[2015-11-09 14:40] szsoppa opened #7 "Send optional parameters data in request"
Is there any way to set optional parameters data when sending request to google ? I'm interested only in retrieving citites and as documentation says it requires from me to set `types=(cities)` in optional request paramater. It would be nice to have this possibility.

[2015-11-09 15:01] dmuneras commented on #7
@szsoppa at the moment we are not allowing you to set that parameter, I am going to add that option, seems to be very useful.

Regards,
Daniel.

[2015-11-10 01:36] esbanarango commented on #7
@szsoppa You're now able to set the `types` on the version `0.0.9`

[code]

[2015-11-10 01:36] #7 closed

[2016-01-08 13:03] Aathi opened #10 "How to get complete address?"
@esbanarango
Hello,
1. Currently able to get only `formatted_address` but I want `complete address`. How can I get it?
2. How to restrict by `country` for Ex: `country="uk"`?

[2016-01-08 20:58] dmuneras commented on #10
Hi @Aathi

1. I have found three to get the full address:

* If you only want to display the full address you can fetch the `adr_address` attribute from the `place` object you receive in the callback function and print the value using `{{{ }}}` in your template.

* If you have a variable bound to the ember-autocomplete field, that attribute will have the complete address after Google autocomplete

[2016-03-15 15:14] tshuck opened #13 "Anyone have issues with the 'focusOutCallback' handler?"
In ember 2.4.1, handling the 'focusOutCallback' seems to cause the google auto-suggest API to fail to pick up clicking on a place (because the action does not bubble to the browser, I guess?) although it still works if you arrow down and select and item with the enter key:
![handled](https://cloud.githubusercontent.com/assets/664467/13782704/364d542e-ea96-11e5-88a3-6891960350a7.gif)

But if you le

[2016-03-18 16:06] patroqueeet opened #15 "The `initialize` method for Application initializer 'register-google' should take only one argument"
it's happening if:

[code]
how can I resolve that?

[2016-04-17 15:39] borisrorsvort commented on #13
Same issue too, this selection only works with arrows using the latest ember version

[2016-04-17 17:09] borisrorsvort commented on #13
@dmuneras Any idea on how to solve this?

[2016-04-25 05:32] mimie commented on #13
Hi boyz?! I have the same issues please help

[2016-04-25 14:16] dmuneras commented on #13
@borisrorsvort  let me take a look.

[2016-04-26 22:42] esbanarango opened #16 "Add a Demo app."

[2016-04-28 10:46] ofridagan commented on #13
+1
The autocomplete became unusable in latest Ember version.
BTW, it happens for me even without focusOutCallback.
If I click on the selection box - it gets stuck on the screen with no way to close.
If I use arrow keys and enter it works.

[2016-04-28 11:13] ofridagan commented on #13
was able to fix this with:
https://github.com/dmuneras/ember-place-autocomplete/pull/17

[2016-04-28 14:59] dmuneras commented on #13
@ofridagan  I published your fix, thanks a lot, I hope it works for everyone.

[2016-04-28 15:14] ofridagan commented on #13
👍

[2016-04-28 15:45] dmuneras opened #18 "Update addon"

[2016-05-05 09:34] esbanarango opened #20 "Add acceptance tests instructions."

[2016-05-05 18:13] #20 closed

[2016-05-17 17:23] allthesignals opened #23 "Overwrite templates"
It's not possible to overwrite the place-autocomplete-field.hbs to do something like change the "placeholder" attribute. Is there a way to do this in the templates? I know there is a workaround, but this seems to be the most common pattern.

Some notes on the structure for allowing this: https://github.com/ember-cli/ember-cli/issues/4587

[2016-05-17 21:09] dmuneras commented on #23
Hi,

Thanks, Let me take a look.

Regards,
Daniel.

[2016-05-18 14:20] patroqueeet commented on #15
dear, any progress here? I don't like yellow messages I can't resolve and its eating up my console space :)

[2016-05-18 16:48] esbanarango commented on #15
@patroqueeet I'll fix this today.

[2016-05-19 14:39] patroqueeet commented on #15
that would be really great!

[2016-05-19 22:32] pedro opened #25 "Tabindex -1?"
Hey folks!

Why is the autocomplete input tabindex set to `-1`?

I just manually set it to 0 so the input behaves normally as far as tabs/ordering goes.

[2016-06-08 12:48] jstoup111 opened #26 "Selecting item in dropdown doesn't update model"
[code]

![image](https://cloud.githubusercontent.com/assets/1585332/15894758/e80105ee-2d44-11e6-889b-a88be2dfdbcb.png)

[2016-06-24 21:30] dmuneras commented on #26
Hi @jstoup111 ,

I just released a new version with a fix that should fix your problem, could you confirm it works for you?

Best regards,
Daniel.

[2016-08-17 23:20] arthur5005 opened #33 "Latest version not released (exclude parameter)"
Hey, was scratching my head about the 'exclude' parameter I read in the documentation not working, and then realized that it's because those changes haven't been replaced. Is there something you're waiting on?

A

[2016-08-22 15:23] dmuneras commented on #33
Hey @arthur5005

Let me check why it is not released.

Best regards,
Daniel.

[2016-08-24 16:55] steveszc opened #35 "Addon is not FastBoot-compatible"
The addon assumes that window (window.google and window.navigator) are present, which is not true in FastBoot.

Guidance for resolving these issues in Fastboot are available at https://ember-fastboot.com/docs/addon-author-guide

[2016-08-24 17:05] esbanarango commented on #35
Thank you @steveszc. I'll add support for FastBoot this week.

[2016-08-28 03:33] #35 closed

[2016-08-28 03:52] esbanarango commented on #33
@arthur5005 Last version is out!

[2016-08-28 03:52] #33 closed

[2016-08-28 03:52] #18 closed

[2016-08-28 03:54] arthur5005 commented on #33
Thanks man!! :)

[2016-08-28 03:54] esbanarango commented on #15
@patroqueeet this should be fixed on the last version.

[2016-08-28 03:54] #15 closed

[2016-08-28 04:31] dmuneras commented on #25
Hi @pedro

To be honest, someone else add that value to the tabindex attr, I was looking for a reason to set it to `-1` and I didn't find it. So, I am putting `0`as default value.

Regards,
Daniel.

[2016-08-28 07:13] #25 closed

[2016-08-28 07:13] #26 closed

[2016-09-27 07:58] brancusi opened #37 "Possible to pass in the google keys outside of the config?"
Hi,

I would like to send over the google keys after the user is authenticated, is this something that could be done? I see the google api is setup on app load.

Thanks

[2016-09-27 13:31] dmuneras commented on #37
Hi @brancusi,

I think it is possible by loading again `//maps.googleapis.com/maps/api/js` after you have the user credentials, it should override the previous import and override the `google.maps` variable. You have to construct again the url using the user credentials ( similar as I do it in https://github.com/dmuneras/ember-place-autocomplete/blob/master/index.js )

(I am not sure if I understo

[2016-09-28 06:28] kaurmanvir opened #38 "Scroll issue on IOS devices"
The drop down list doesnt stick to input box instead it scrolls with the body and if user selects any element from the list on IOS device in scrolled down view. It hangs the screen and whitens the background.
![ember-place-autocomplete](https://cloud.githubusercontent.com/assets/17794762/18902778/ba25f590-8572-11e6-833a-55d7720f3ff8.jpg)

[2016-10-16 01:52] arthur5005 opened #41 "Can't use ember-place-autocomplete component in acceptance tests"
Trying to use the component in an acceptance test caused this exception:

[code]

This guide was helpful in figuring out what the heck was going on:
http://discuss.emberjs.com/t/guide-asynchronous-side-effects-in-testing/2905

Opened up a pull request: #40
This wraps the `place_changed` handler in a run loop.

[2016-10-26 20:12] dodeja commented on #41
Thanks @arthur5005.

[2017-02-16 13:49] franklington opened #43 "Cannot read property 'maps' of undefined"
Getting this.

[code]

i guess because google api isn't loaded at the time.

ember-cli: 2.10.0
node: 4.5.0

[2017-03-03 23:58] charliemitchell opened #44 "Issue when using 'address' type"
Hello, There seems to be an issue when using 'address' as the type... maybe other types too, but I've experienced the issue only when using the `address` type.

Essentially, the call to `getPlace` returns the wrong place sometimes.
For example. If you search for 324 2nd St. Camino, CA the result comes back as something entirely different. The suggestion is correct, but the call to `getPlace` is of

[2017-03-04 16:36] dmuneras commented on #44
Hi @charliemitchell,

Thanks for the report and for taking the time to do a research about it.  I am going to take a look this weekend.

Regards,
Daniel.

[2017-03-29 14:05] byrnedo opened #47 "Dynamically change language"
I'm using i18n and would like to get the language changed here when it is changed in i18n (https://github.com/jamesarosen/ember-i18n).

You think that's possible?

[2017-03-29 15:14] Floby opened #48 "Default places type option should be no option instead of 'geocode'"
I Spent a little too much time on this issue trying to figure out what was going wrong :D

I don't think it's safe to assume users of this addon only need `geocode` results. It seems to me that this component should:

+ use an empty array as default option for the `types` parameter for Places Autocomplete
+ allow `types` to be an array of strings
+ allow `types` to be a string (same as current)

I

[2017-03-29 16:12] dmuneras commented on #48
You are right, feel free to open the PR. It will be well received. :)

[2017-04-25 10:09] Falibur commented on #47
Hi,

When you use that plugin you can just set the attributes and it would work as expected?
Like in the following example:

`<label>
      <strong>{{t "settings.location-address.company-name"}}</strong>
      {{place-autocomplete-field
        value=businessName
        handlerController=this
        types="establishment"
        setValueWithProperty="name"
        placeholder=(t "settings.locati

[2017-04-25 10:11] Falibur opened #50 "Push latest version to bower"
Hi,

Can you push/register the latest version to bower so my package.json can be just referring to a version :)

Thnx!

[2017-04-25 10:20] byrnedo commented on #47
Hi, thanks for the reply, I meant more the language that will be used in the calls to the google api.
It's a bit tricky since it's in the url for the script. I got around it by having a service fetch the script for a language and notify when it was downloaded.

[2017-04-25 17:24] dmuneras commented on #50
Sure, will be released by tomorrow.

[2017-04-26 14:31] Falibur commented on #50
thnx!

[2017-04-28 23:49] dmuneras commented on #50
@Falibur I had an emergency at work. I have to do some updates before release, it is going to be done by next week. Sorry if i am causing you any inconvenience.

[2017-05-15 13:38] dmuneras commented on #50
Good morning @Falibur

I already publish a new version to npm (0.0.18)

Let me know if it works for you,
Daniel.

[2017-05-15 13:42] #41 closed

[2017-05-15 13:42] #10 closed

[2017-05-15 13:43] #13 closed

[2017-05-15 13:44] #50 closed

[2017-06-28 15:13] bobvdvalk commented on #16
yeah hurry up with this. As someone new to Ember it's hard to understand.

[2017-06-28 16:58] dmuneras commented on #16
Hey @bobvdvalk, you  are right.

In the meantime, if you have a question don't hesitate to ask.

Best regards,
Daniel.

[2017-08-03 20:26] PeterCadwell opened #55 "Interested in ability to enable/disable autocomplete from property?"
What does `disabled` attribute do in the component? I'd like for a way to enable/disable this component via the `disabled` property.

[2017-08-03 21:18] dmuneras commented on #55
Hey @PeterCadwell,

You can pass the disabled params (set as true) and the input is going to be disabled. It is just the common `disabled` option of the Ember `input` helper:

[code]

https://cl.ly/2W2i1g2l2L3y

[2017-08-03 21:20] dmuneras commented on #55
BTW, @PeterCadwell  you give an idea, maybe if the input is disabled, the component should stop listening to the google events...

[2017-08-03 23:44] jakiestfu commented on #55
@dmuneras We'd like to add support for that logic. Would you accept a PR for this?

[2017-08-04 03:05] dmuneras commented on #55
@jakiestfu sure!, you can implement it and I  will be glad to review it and merge it.

[2017-08-17 22:01] ppegusii opened #56 "Set search bounds with component attributes."
Hi @esbanarango @dmuneras, thanks for this addon. Are you interested in the ability to set the bounds of the search via attributes passed in to the component?

[2017-08-17 22:11] dmuneras commented on #56
@ppegusii we already have something implemented related with it thanks to @earayo But I think it doesn't allow you to manually pass the bounds. @earayo do you want to implement this and take the glory?

[2017-08-17 23:06] dmuneras commented on #56
Close because of the contribution of @ppegusii https://github.com/dmuneras/ember-place-autocomplete/pull/57

[2017-08-17 23:06] #56 closed

[2017-08-22 16:07] mattwagar commented on #43
Having this issue too. How did you resolve this?

ember-cli: 2.14.1
node: 6.10

[2017-08-22 16:11] dmuneras commented on #43
Hey @mattwagar,

Let me take a look today at night.

Best regards,
Daniel.

[2017-08-23 13:48] mattwagar commented on #43
I have the API Key for Google Places in my environment.js, and copied your component into my template.hbs. Do I need to initialize window.google anywhere?

[2017-08-28 15:29] mattwagar commented on #43
Did you look into this?

[2017-08-29 15:20] franklington commented on #43
Sry for my late response. I wish had documented the error more precisely because I don't know how i solved it.  What is your setup for the component? Do you have a code example?

This is how my environment.js looks like
[code]
My Template:
[code]

[2017-08-29 15:37] dmuneras commented on #43
Hey @mattwagar  and @franklington Sorry, I had to do a server migration, so, I didn't have enough time to actually fix the problem. I have an idea about what is happening. I am going to try to fix the problem today.

[2017-08-29 15:45] dmuneras commented on #43
@franklington, could you check the network tab of your google inspector to check if the request to the google inspector is being made, the client id is present and the request result is a success?

[2017-08-29 21:49] franklington commented on #43
@dmuneras what do u mean with request to GI? The authentication to the google server, if that is what you want to know, response is successful.

BTW the code I posted belongs to the 0.0.17 release. I saw that some things have changed.

[2017-09-08 04:10] adambedford opened #58 "Possible to enter a value not in results list?"
Is it possible for a user to enter a value that isn't in the results list? For example, say this is a search for job locations, would it be possible to enter "Remote" as an option?

[2017-09-08 23:34] dmuneras commented on #58
Hey @adambedford!

I just take a look at this case and it seems to work, the value is sent to the callback function so, you can use it.

![screen shot 2017-09-08 at 6 31 30 pm](https://user-images.githubusercontent.com/344518/30234575-fbe9e5fc-94c3-11e7-9625-01fb5811264b.png)

The object sent is the one at the bottom of the image, { 'name': 'fake-address' }, you can use it in your `placeChangedCal

[2017-09-08 23:41] dmuneras commented on #55
I am going to close this, we already addressed the question and we are waiting for the contribution. :D

[2017-09-08 23:41] #55 closed

[2017-09-08 23:42] #37 closed

[2017-09-11 03:33] dmuneras commented on #44
Hey @charliemitchell,

Sorry for the super super late response. I read it and I was sure I answered it, but not.

If you don't select the suggestion, the name that is going to be sent to google in order to get the full information is the one on the text field, not the one in the suggestion, you have to select the suggestion so the field changes its value and you get the full info.

I was thinking

[2017-09-11 03:36] dmuneras commented on #43
Hey @franklington and @mattwagar,

I was doing some updates and fixes. I think your problem should be fixed now. I am going to release a new version now to let you review if that fix your problem.

Best regards,
Daniel.

[2017-09-12 04:16] dmuneras commented on #47
Hey @byrnedo,

Thanks for taking the time to report this, and sorry for the late response. But @yratanov did it some time ago: https://github.com/dmuneras/ember-place-autocomplete/commit/a01bc9ac12adb79ec08c3fb5152b0c8f780f5d8e

In case you haven't found a solution of someone need it in the future:
---------------------------------------------------------------------

You just have to pass the opt

[2017-09-12 04:17] dmuneras commented on #47
@byrnedo  I am going to close this question but feel free to reopen if needed.

[2017-09-12 04:17] #47 closed

[2017-09-13 18:55] mattwagar commented on #43
Hello @dmuneras,

Sorry for the lack of response. I upgraded to version 0.0.20 and it works!

However, in your documentation you should explain what "exclude: boolean" means in the environment.js. When I switched it to false like @franklington suggested, the autocomplete worked.

Best,
Matt

[2017-09-13 19:17] dmuneras commented on #43
@mattwagar  I am glad everything is working for you now. It should work even if you don't use `exclude` option.

[2017-09-15 02:49] kamikaz1k opened #59 "I think the readme should be updated for clarity"
I think the README should be updated to be crystal clear with what is happening.
It too me a bit of time to get it up and running after digging through issues.

How to use in HBS
[code]

How to setup ENV
[code]

Also, thank you for making this. Honestly, it saved me a tonne of time. :)

[2017-09-15 03:06] dmuneras commented on #59
Hey @kamikaz1k,

You are completely right. I started to work on a documentation website to make more clear the setup of the addon. I am going to update the README tomorrow to help people while the documentation website is ready.

Best regards,
Daniel.

[2017-11-06 21:09] nielsrask opened #60 "Doesn't work"
I may be doing something wrong, but nothing happens when I insert text into the input field. I can't see any call to Google's API. And no autocomplete is generated. Weird.

What action is supposed to be used to call the Google API?

[2017-11-06 21:15] dmuneras commented on #60
Hey @nielsrask,

* Could you tell me which version of Ember are you using?
*  If you are using the google service without a key, Could you check if the google service is blocking your request? (check the network tab of your google inspector).
* Could you attach an image of the console of element inspector to check if any error is displaying?

Best regards,
Daniel.

[2017-11-09 17:59] onewiseburdman opened #61 "Assertion Failed: Cannot call set with 'address' on an undefined object."
Recreated your example:

I keep getting the following.  It's not very clear what to do, I would really appreciate a demo.  If someone else has experienced this can someone please help me?
Assertion Failed: Cannot call set with 'address' on an undefined object.

If I update the value=model.address I get the same error,

if I just change it to value=address I get no errors but I also receive nothing

[2017-11-09 18:47] onewiseburdman opened #62 "put an example that actually works"
I am still at this-there was a PR that someone created a semiworking example but even that has issues.  It's very frustrating-I'm not a developer per se, I rely on working examples.  Which you have none.  Perhaps you could just take the 5 minutes of time and re-create it with a working model.  You reference a controller which I didn't have.  The other guys did - but didn't have a component.

I rea

[2017-11-09 19:00] dmuneras commented on #62
Hey @onewiseburdman,

You are right, let me write in the README the complete step by step to get a working example.

It is going to be available tomorrow around this hour is that is ok.

Best regards,
Daniel.

[2017-11-09 19:59] dmuneras commented on #62
## General comment

I just wrote a simple wiki page to try to help you to setup a working example:

https://github.com/dmuneras/ember-place-autocomplete/wiki/Getting-Started

Would be more helpful if you can point me to a repo with your code, or an snippet, or something, it is kind of complicate to figure it out what is happening without having more information.

## About the controller

The `hand

[2017-11-09 20:53] onewiseburdman commented on #62
Thank you-so far it works now.  Ultimately what I need to do is look up an address get lat long and concatenate it to another url that does a json request.

So by  logic concerns:

I get the Lat Long from address
Then post that data to another page that uses ember data to return that information
From that ember data goes to firebase and sets a query.  I am sure for other people its super simple-bu

[2017-11-09 21:07] dmuneras commented on #62
Glad this help you Chris, you can do what you want using the information you get in the callback function. You are in the right path i am sure you are going to get what you want pretty soon.

[2017-11-09 21:09] dmuneras commented on #61
@onewiseburdman  I am going to close this since it was addressed in the other issue you opent: `https://github.com/dmuneras/ember-place-autocomplete/issues/62`

[2017-11-09 21:09] #61 closed

[2017-11-09 21:10] dmuneras commented on #60
Hey @nielsrask,

Could you take a look at this: https://github.com/dmuneras/ember-place-autocomplete/wiki/Getting-Started Maybe you have the same problem that other person report.

[2017-11-09 21:54] onewiseburdman commented on #62
A couple of things for you to clarify for the readme:

On the User Model in order for the placeholder text to read as the placeholder- one should set the fake-model data as follows:
  address: DS.attr('string',{defaultValue: ''}) . otherwise its just going to read like the default value data says.

Also if one doesn't fix the formatting of the component one would continue to see action errors-simp

[2017-11-10 13:28] nielsrask commented on #60
We built an endpoint on our API server instead, since we couldn't get this
working.

Mvh,

*Niels Rask*

0734-100 450  | niels.rask@prodentor.se

www.prodentor.se | 556935-2726

2017-11-09 22:10 GMT+01:00 Daniel Múnera Sánchez <notifications@github.com>:

[2017-11-10 13:32] dmuneras commented on #60
Glad you fix the problem you have. Sad that you could get the addon working in your project, if you want give it a try with the information on the wiki page.

I am going to close issue this because it is not enough information to know what happen.

[2017-11-10 13:32] #60 closed

[2017-11-15 13:39] #62 closed

[2018-01-22 18:35] grapho commented on #43
@dmuneras I am having a very similar error when writing acceptance tests

cannot set property `maps` of undefined...

It looks like `window.google` is not being initialized in test land

[2018-02-12 00:39] #59 closed

[2018-02-24 02:54] #58 closed

[2018-02-24 02:56] dmuneras commented on #58
Hi @adambedford,

I am closing the issue, but, if you need more information or help, let me know.

Best regards,
Daniel.

[2018-02-24 03:00] dmuneras commented on #23
@allthesignals Sorry for the suuuper late response.

It is possible, you can pass a block, the autocomplete is going to be added to the first input in the passed HTML

[2018-02-24 03:00] #23 closed

[2018-02-24 03:01] #44 closed

[2018-02-24 03:03] dmuneras commented on #43
Hey @grapho,

Still happening with the last version?

[2018-03-23 14:37] tansongyang opened #68 "Can creation of script tag be deferred until page load?"
First of all, I'm an Ember newbie, so please forgive and correct any misconceptions I have.

Basically, we have a situation where we **have** to add the Google Maps API key after the client has loaded. This is because of some details of our build process which we can't change. For example, sometimes we'll build in production mode but still deploy to a testing environment, and we don't want to use

[2018-03-23 15:01] dmuneras commented on #68
Hey @tansongyang,

Is there currently any way to defer this? If not, would you accept a PR to add that functionality?

Yes! as the README says:

[code]

If you do this, you should handle the loading of the google maps library yourself, but, you will have all the freedom to do it as you want.

This could be helpful: https://github.com/dmuneras/ember-place-autocomplete/pull/32

Let me know if that i

[2018-03-23 15:08] tansongyang commented on #68
Ah, thanks for pointing that out. Would you take a PR to extract the function that currently builds the script tag into an exportable function? I'd like to avoid copy-pasting.

[2018-03-23 15:11] dmuneras commented on #68
Sure!! it will be great!!! I can created and I can take a look tomorrow.

[2018-03-23 15:11] tansongyang commented on #68
Thank you! Let me know if you want any input on it.

[2018-05-30 17:22] devCaso opened #70 "After update ember 3.1.2, inputClass doesn't appear"
I just to update to 3.1.2 and strangely the css class passed through inputClass attribute doesn't appear but instead there a white space. Someone knows if it is an error related with the upgrade?

Thanks!

[2018-05-30 19:55] dmuneras commented on #70
Hey @devCaso,

Let me double check today or tomorrow and reach you back.

Best regards,
Daniel.

[2018-05-31 11:04] devCaso commented on #70
@dmuneras thanks you very much because your soon response but it was my fault, I didn't see that I had duplicated the inputClass attribute and the second was inputClass=' ' I'm so sorry :)

By another hand, this mistake didn't overwrite the attribute value in the previous version (3.0), because this was the confusion.

I close this issue, thanks again :)

[2018-05-31 11:04] #70 closed

[2018-05-31 18:47] dmuneras commented on #70
@devCaso thanks for taking the time to double check. I am glad you solved your problem

[2018-06-30 15:50] jamesdixon opened #72 "new release?"
Hi, any chance a new release gets pushed to npm soon?

[2018-06-30 17:08] dmuneras commented on #72
Sure, I completely forgot to do it. I am AFK, but I am going to create a new release once I go back home.

[2018-07-01 16:16] jamesdixon commented on #72
thx @dmuneras!

[2018-07-03 17:04] dmuneras commented on #72
Hey @jamesdixon! I released a new version. Thanks a lot for your contribution.

[2018-07-03 17:04] #72 closed

[2018-07-03 19:00] jamesdixon commented on #72
thank you!

[2018-07-25 06:10] algodave opened #73 "Fix Acceptance Tests instructions in Readme"
The Google Places Autocomplete mocked object in Readme is missing the `setOptions()` function, which is present in addon's tests' [google-place-autocomplete-object](https://github.com/dmuneras/ember-place-autocomplete/blob/master/tests/helpers/google-place-autocomplete-object.js)

Hope this helps someone else saving time! 🙂

[2018-07-25 14:38] dmuneras commented on #73
Hey @algodave!

Thanks a lot for reporting this. I am going to update the README to point to the actual mock.

Best regards,
Daniel.

[2018-07-30 14:19] Kernes opened #74 "Support for session token"
Hello,

With the new Places API Usage and Billing we can now specify a `session token` with every Autocomplete request.
Does your addon provide a way to do that or is there any plan to make it possible?

Thanks!

[2018-07-30 15:11] dmuneras commented on #74
Hey @Kernes!

Being honest I haven't taken a look at it yet. Will do this week and reply to you here.

[2018-08-16 16:12] simonc commented on #74
Hey @dmuneras,

Did you have any time to take a look? I’d love to do a PR on this but sadly JS is not really my domain of expertise :sweat_smile:

I think a lot of people would found it cool to be able to reduce their costs now that Google changed its pricing 😊

Thanks! :heart:

[2018-08-16 17:12] dmuneras commented on #74
@simonc @Kernes  Sorry that this is taking long, I have been having very interesting weeks at work which have preventing me from looking at this issue.. I will do my best to address this weekend.

[2018-09-20 00:59] engwan opened #75 "Deprecation on latest Ember"
DEPRECATION: Please refactor `{{input focus-out="focusOut"}}` to `{{input focus-out=(action "focusOut")}}. ('ember-place-autocomplete/templates/components/place-autocomplete-field.hbs'

[2018-09-22 20:32] dmuneras commented on #75
👌

[2018-09-27 20:02] yefan15 commented on #62
When I declare  placeChangedCallback=(action "placeChanged") I get TypeError: Cannot read property 'apply' of undefined. and when I use  placeChangedCallback='placeChanged' it doesn't get called. Is there something I need to do special if I am creating a search bar component that is going to be used else where?

[2018-09-27 20:31] yefan15 opened #76 "placeChangedCallback and focusOutCallback actions not being called"
When I declare placeChangedCallback=(action "placeChanged") I get TypeError: Cannot read property 'apply' of undefined. and when I use placeChangedCallback='placeChanged' it doesn't get called at all. Is there something I need to do special if I am creating a search bar component that is going to be used else where? The logic for the action is defined in my component js file.  I am also noticing t

[2018-09-28 02:41] dmuneras commented on #75
https://github.com/dmuneras/ember-place-autocomplete/pull/77

[2018-09-28 04:13] dmuneras commented on #76
Hey @yefan15,

It is a little bit complicate to read the code you pasted, but, I created this simple gist that show you how to use it. It looks super simple, but it should work:

https://gist.github.com/dmuneras/1f0de66d2240c862537cb49372804acf

Basically, as long as you have defined the action in the component it should work. As personal comment, just try to avoid using that `handlerController`,

[2018-09-28 04:16] dmuneras commented on #75
Hey @engwan,

I made that small change and publish a new version 1.0.1. Let me know if the WARNING still appearing after using the new version.

Best regards,
Daniel.

[2018-09-28 04:30] dmuneras commented on #74
@simonc  @Kernes finally I was able to take a look at this. Looking at the documentation, it looks like the session token is something that you can set when using `AutocompleteService` but not when using `Autocomplete`. I was reading people comments I am some people says that while using `Autocomplete` the session token is added automatically, but I am not seeing it in the requests.

It would be m

[2018-09-28 04:34] #48 closed

[2018-10-03 14:51] yefan15 commented on #76
@dmuneras Thanks for that. One I did notice when i try to grab the value of what is in the search bar it only brings back what the user types unless I click in the testbox itself. So if I type in 123 and let google find places near me and select on of those options, let's say 123 Albany Way. When I do this.get('address') I only get the 123 value back unless I click within the text box then I would

[2018-10-03 14:51] yefan15 commented on #76
@dmuneras Thanks for that. One I did notice when i try to grab the value of what is in the search bar it only brings back what the user types unless I click in the testbox itself. So if I type in 123 and let google find places near me and select on of those options, let's say 123 Albany Way. When I do this.get('address') I only get the 123 value back unless I click within the text box then I would

[2018-10-04 14:08] yefan15 commented on #76
Yes Daniel this was very helpful, thanks so much!

[2018-10-04 16:21] dmuneras commented on #76
No problem @yefan15, I am glad it helped you.

[2018-10-06 12:04] simonc commented on #74
Hi @dmuneras I've looking at the requests sent to AutocompleteService and I am not sure of all the pieces involved.

The called URLs look like this
[code]
And the inspector shows the following params for this request
[code]

The `token` here seem to change according to the typed search.

The second param though, `20sB57BD9FA-A881-4FB6-90DF-5762EABAF3D1u36f063k2v2q` seems stable from request to req

[2018-10-08 15:32] ChristopherJohnson25 opened #78 "Issue with using inside component"
Is anyone else having issues with this getting used inside a component? The network calls are getting made, but it seems like the actions aren't working properly. I have not been able to get the autocomplete dropdown, been working on this for awhile too..

[2018-10-08 15:39] dmuneras commented on #78
Hey @ChristopherJohnson25!

Could you give me a bit more information about what is happening to you? It could be something simple like a gist like this one: https://gist.github.com/dmuneras/1f0de66d2240c862537cb49372804acf

It could be very helpful if you tell me which version of Ember you are using.

Best regards,
Daniel.

[2018-10-08 15:43] ChristopherJohnson25 commented on #78
Thanks Daniel, I'm on Ember 3.04.

Here is my code..

[code]

[code]

All in component template and js files.

[2018-10-08 15:50] ChristopherJohnson25 commented on #78
Just debugged this, it was a z-index issue. Apologies for the premature issue.

[2018-10-08 15:51] #38 closed

[2018-10-08 16:12] #78 closed

[2018-10-08 16:13] dmuneras commented on #78
No problem @ChristopherJohnson25! your issue report is much appreciated.

Best regards,
Daniel.

[2018-10-08 16:17] ChristopherJohnson25 commented on #78
I'll leave this closed in case it's an easy problem. Is there a simple way to get Lat, Long for the autocompleted city?

[2018-10-08 16:58] ChristopherJohnson25 opened #79 "Latitude and Longitude on City"
Is there a simple way to get latitude and longitude from the city response? I see a key in the object but it's formatted a bit weird..

[2018-10-10 19:54] ChristopherJohnson25 commented on #79
Does anyone have any info on this? I'd love for this to work, but I'm worried I may have to switch to another solution for this...

[2018-10-10 20:45] dmuneras commented on #79
Hey @ChristopherJohnson25,

This addon is a wrapper of the Google Places API. So, the addon the information you can get is the one google provides: https://developers.google.com/places/web-service/details

Could you share in a gist  how you use your addon in the template and your callback function?

Best regards,
Daniel.

[2018-10-10 20:54] dmuneras commented on #79
@ChristopherJohnson25 just by looking really quick I got this:

![screen shot 2018-10-10 at 3 53 05 pm](https://user-images.githubusercontent.com/344518/46765477-b9e07d00-cca4-11e8-8f0b-a3a0aa2b7205.png)

[2018-10-11 00:11] ChristopherJohnson25 commented on #79
Worked perfectly! Thank you, I wouldn't have thought to do that.

[2018-10-11 02:32] dmuneras commented on #79
Cool!! so nice it worked for you! I am going to close the issue then.

[2018-10-11 02:32] #79 closed

[2018-10-21 15:42] yefan15 opened #80 "(Just a question) Is there a way to customize the pac container if you are using it multiple places?"
Is there a way to customize the pac container if you are using it multiple places? Currently I am overriding the styling of the google dropdown. I am using the places autocomplete multiple places but I do not want the styling to be applied everywhere just that specific template. Is there any way to accomplish this? I am also just using CSS and not SASS.

[2018-10-22 14:59] #80 closed

[2018-10-22 15:03] dmuneras commented on #80
👍

[2018-11-03 17:55] sgerasi opened #84 "autocomplete not working inside component template"
When I add place-autocomplete-field to a template that has a controller it's working. However if I use it   in another component template it's not showing the dropdown with addresses when I type, though I can see a response with all the data in the console. Looks like it's not injecting google component.

I need this feature to work inside a popup modal.

[2019-02-06 22:19] #76 closed

[2019-02-25 16:35] dmuneras commented on #16
Done! https://dmuneras.github.io/ember-place-autocomplete/

[2019-02-25 16:35] #16 closed

[2019-02-25 16:37] dmuneras commented on #43
@grapho  You have to mock the Google API when testing, I added a section to the documentation web site to show you how I do it: https://dmuneras.github.io/ember-place-autocomplete/tests/mocks

[2019-02-25 16:37] #43 closed

[2019-02-25 16:40] #73 closed

[2019-02-25 16:43] dmuneras commented on #74
Hey @simonc  and @Kernes!

I got some time to work on improving the addon and I added support to use the Google Places API as a service, which allow the usage of the `sessionToken`. You can read how you can use it here:

https://dmuneras.github.io/ember-place-autocomplete/usage/service

It is not released, but you can point to the master branch to test it if you want to. I still have to do some ot

[2019-02-25 16:44] #68 closed

[2019-02-25 17:22] simonc commented on #74
Hi @dmuneras,

@Kernes and I left the company that needed this. We'll keep working on Ember apps on the side and we may need this  soon. We'll definitely test the master brqnch when the time comes.

Thanks a lot!

[2019-02-28 20:23] #75 closed

[2019-03-27 12:55] yusufsagdic opened #91 "Cannot read property 'getPlacePredictions'"
Hi, I'm getting error when I try to this sample.
https://dmuneras.github.io/ember-place-autocomplete/usage/service

Cannot read property 'getPlacePredictions' of undefined

thanks.

[2019-03-27 13:19] dmuneras commented on #91
Hey @yusufsagdic!

Are you sure the service is injected in the place where you are using it (`googlePlaceAutocompleteService: service('google-place-autocomplete')`)

Could you create a gist with the component/route/controller where you are testing the example?

Best regards,
Daniel

[2019-03-27 18:48] yusufsagdic commented on #91
Hey @dmuneras, thanks for quick reply.
Here it is.
https://gist.github.com/yusufsagdic/5dc3a63734d6a345952c2c96850c7251

[2019-03-27 19:18] dmuneras commented on #91
Hey @yusufsagdic!

I copied and pasted your code into one app, ran it and it worked for me 😅. The only thing I can think about is that it could be a problem with the google api key you are setting, maybe it doesn't have the maps api enabled.

It will be very helpful if you can copy here the complete error stack trace to have more information.

You can check if running this into the console returns

[2019-03-28 20:25] yusufsagdic commented on #91
Hey @dmuneras

When I check console log

 return undefined.

thanks.

[2019-03-30 10:01] yusufsagdic commented on #91
Hey @dmuneras

Ember v. 3.8.0 and I'm working on localhost.

When I check the console for new window.maps.places.AutocompleteService() its return

When I check the browser console nothing load from google map api. Am I need to add  index.hmtl or anywhere like this script ? I just add to addon configure environment.js and  I used my last post gist.

[2019-03-30 19:51] yusufsagdic commented on #91
Hey @dmuneras,
I copied the configurations for enviroment.js and I missed the exclude parameter true so its the big mistake :)
Thank you so much.

[2019-03-30 19:51] #91 closed

[2019-04-02 07:02] dmuneras commented on #91
Glad you solved your problem @yusufsagdic 😄

[2019-05-01 21:17] dmuneras commented on #74
I am closing this issue because it seems to be resolved using the new service. 😄

[2019-05-01 21:17] #74 closed

[2019-05-08 04:38] josemarluedke opened #93 "Test Mocks are not usable by consumers"
The test mock setup is not accessible by consumers.

Currently, these test helpers live inside of the `tests` folders and they are not shipped to NPM.

Even if they were shipped to NPM, that's not the right place to have test helpers to be consumed by others.

If an addon wants to ship a test helper, they should have them at `addon-test-support`.

For more references, check other addons. One examp

[2019-05-08 08:37] dmuneras commented on #93
Hi @josemarluedke!

Thanks for the reference. I will have a look at it and do the required changes this week or the week after. Being honest, there is a big room of improvement to improve testing support, so, I will be glad to jump into it.

Best regards,
Daniel.

[2020-02-04 13:39] sinankeskin opened #105 "Multiple input destroy issue"
I have 2 autocomplete inputs on my page. If I destroy (simply remove the component from the page) one of them the other one doesn't work until the remove and replace again.

I believe the issue relevant with elementId. I can't add an id to inputs also.

Thank you.

[2020-02-06 08:16] dmuneras commented on #105
Hi, just to let you know that I already read it and I will reach you back when I have a chance to take a look (~tomorrow).

[2020-05-03 12:07] #105 closed

[2020-05-03 16:47] dmuneras opened #110 "Use Qunit instead of Mocha"
## Description

Use Qunit instead of Mocha to test the addon. The support of Qunit is better within the Ember community and it is simpler.

[2020-05-03 17:56] dmuneras commented on #93
Hi @josemarluedke,

I am sorry this took longer than expected. I just released a version with the test helpers available and some other fixes. I hope it is usable enough outside of the addon scope, since I created the helpers only to write tests for the addon. I might need to review how to make them more general and usable.

I am going to close the issue, but feel free to open it again if the reso

[2020-05-03 17:56] #93 closed

[2020-05-03 18:52] sinankeskin commented on #105
Thank you.

[2020-05-05 07:18] dmuneras commented on #105
Hi @sinankeskin,

Feel free to reopen the issue in case the problem is not fixed for you.

Best regards,
Daniel.

[2020-05-05 13:10] sinankeskin commented on #105
I tried. Everythings perfect.

Thank you again.

[2020-05-25 15:26] #110 closed

[2020-05-27 07:53] dmuneras opened #115 "DOC: Update tests support section wording and examples code."
## Description

* Mocha is not used anymore and we are not using beforeEach either. It is required to change the wording.

* Examples work, but the code is not the best, it is required to improve the quality of the examples to promote good practices instead of bad ones.